
.icon-language:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
